body {
  margin: 0;
  background: black;
  overflow: hidden;
}

#conteudo {
  width: 100vw;
  height: 100vh;
}

#rodape {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  box-sizing: border-box;
}
